<h1>Socket.IO</h1>
<h2>Enviar mensaje al servidor</h2>
<form id="message-form">
  <input type="text" id="message" name="message" placeholder="mensaje..." required/>
  <button type="submit">Enviar</button>
</form>
<h2>Respuesta del servidor</h2>
<ul id="messages"></ul>
<script src="/websocket/socket.io.min.js"></script>
<script src="/javascripts/script.js"></script>