<h1>Coder House Chat</h1>

<div class="msg-container">
  <ul id="list-message"></ul>
</div>
<form id="form-message">
  <input type="text" id="input-name" placeholder="Write your fullname..." required>
  <input type="text" id="input-message" placeholder="Write a meesage and press enter ti send..." required>
  <button type="submit">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>