<h1>Desafio de socket.io</h1>

<form id="message-form">
  <input type="text" id="input-message" name="message" placeholder="mensaje..." required/>
  <button type="submit">Enviar</button>
</form>
<h2>Mensajes historico:</h2>
<ul id="show-messages"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.js"></script>
