* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

ul li {
  list-style: none;
  border-radius: 5px;
  height: 48px;
  border: 1px solid #CACED8;
  padding: 10px;
  max-width: 50%;
}

ul li p{
  color: black;
}

.msg-container {
  background-color: white;
  padding: 20px;
}